.game-menu {
  background: url(https://i.imgur.com/SYY2mJz.png);
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover;
  overflow-x: hidden;
}

.text-center {
  text-align: center;
}

.big-text {
  font-size: 26px;
  color: brown;
}

.explanation {
  font-size: 20px;
  font-family: 'Indie Flower', cursive;
}

h1 {
  text-align: center;
  font-size: 60px;
  color: grey;
  margin-bottom: 0;
}

ul {
  list-style: none;
  margin-bottom: 20px ;
}

.top-slide {
  transform: translateY(-200%);
  -webkit-transform: translateY(-200%);
}

.slide {
  transform: translateX(-200%);
  -webkit-transform: translateX(-200%);
}

.slide-right {
  transform: translateX(200%);
  -webkit-transform: translateX(200%);
}

li {
  font-size: 30px;
  color: white;
  margin-bottom: 20px;
  background: rgba(72, 72, 72, 0.8);
  padding: 10px;
}

li img {
  height: 24px;
  vertical-align: baseline;
}

li:hover {
  color: red;
  cursor: pointer;
}

.slide-top {
  animation: slide-top 0.5s forwards;
  -webkit-animation: slide-top 0.5s forwards;
}

.slide-in {
  animation: slide-in 0.5s forwards;
  -webkit-animation: slide-in 0.5s forwards;
}

@keyframes slide-in {
  100% { transform: translateX(0%); }
}

@-webkit-keyframes slide-in {
  100% { -webkit-transform: translateX(0%); }
}

@keyframes slide-top {
  100% { transform: translateY(0%); }
}

@-webkit-keyframes slide-top {
  100% { -webkit-transform: translateY(0%); }
}
