.streetview-container {
  width: 100%;
  height:500px;
}

.streetview-container button {
  position: absolute;
  z-index: 2;
}

.streetview-container button.drawbutton {
  top: 10px;
  right: 10px;
}
.streetview-container button.cancelbutton {
  top: 10px;
  right: 150px;
}

h3 {
  margin: 0;
  background: rgba(72, 72, 72, 0.8);
  color: white;
}

.streetview-container .map-container {
  width: 200px;
  height: 200px;
  position: absolute;
  top: 0;
  z-index: 2;
}

.draw-overlay {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  width: 100%;
  height: 100%;
  cursor: crosshair;
}

.draw-overlay .rectangle {
  position: absolute;
  border: 2px red solid;
}
