.street-view {
  width: 100%;
  height: 400px;
  background-color: #79c9f9;
}

.exploration-container {
  background: url(https://i.imgur.com/qlgoLVk.png);
}

.game-hud {
  color: white;
  background: rgba(0,0,0,0.2);
}

.modal-content {
  background-color: rgba(0,0,0,0.5);
  color: white;
}

.modal-header, .modal-body, .modal-footer {
  border: none;
}

.modal-body p img {
  max-height: 300px;
  max-width: 300px;
  display: block;
  margin-top: 20px;
}

.hud-item {
  margin: 0 40px;
  font-size: 26px;
}

a {
}

a i {
  vertical-align: middle;
  color: white;
}

h3 {
  display: inline-block;
  margin-left: 20px;
}

button {
  display: inline-block;
}
