<div class="exploration-container">
  <div *ngIf="gameObject">
    <app-streetview
      (scoreEvent)="addScore($event)"
      (mapsReady)="startTimer()"
      [game]="gameObject"
    >
      <div class="game-hud">
        <a [routerLink]="['/game/menu']"><i class="material-icons">arrow_back</i> Main menu</a>
        <span class="hud-item fancy">You helped clean {{ score }}kg of garbage today!</span>
        <span class="hud-item fancy" *ngIf="!finished">Time left: {{ timer }}</span>
      </div>
    </app-streetview>
  </div>
</div>
