/* You can add global styles to this file, and also import other style files */

body {
  margin: 0;
  font-family: Roboto;
}

.container {
  padding: 20px;
}

.fancy {
  font-family: 'Indie Flower', cursive;
}

.btn-primary {
  border-radius: 0;
  background-color: #79c9f9;
  border-color: #1eabff;
}

